name: Release

on: { push: { tags: [v*] } }

jobs:
  build-and-test:
    uses: ./.github/workflows/ci.yml

  release:
    name: Package a release

    if: github.repository_owner == 'qam4'

    runs-on: ubuntu-latest

    needs: build-and-test

    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: release-artifacts-*
          merge-multiple: true
          path: release-artifacts
      - run: |
          for file in release-artifacts/*.zip;
          do
            mv $file "${file%.*}-${{ github.ref_name }}.zip";
          done

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: blunder ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: true
          files:  release-artifacts/*
